*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #282d35;
}

.nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  padding: 30px 25px;
}
.nav img {
  width: 40px;
  margin-right: 7px;
}

.nav h3 {
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 1.375rem;
}

.nav h4 {
  color: #deebf8;
  font-weight: 600;
}

.main {
  padding: 57px 27px;
  color: white;
  /* background-image: url(./images/react.png);
  background-repeat: no-repeat;
  background-position: right 75%; */
}

.main h1 {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main ul {
  margin-top: 46px;
  max-width: 400px;
}

.main ul li {
  line-height: 19px;
  padding-block: 10px;
}

.main ul li::marker {
  font-size: 1.4rem;
  color: #61dafb;
}
